.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 100vh;
  position: relative;
}
/*=================================*/
/*=================================*/
/*=============LOADER==============*/
/*=================================*/
/*=================================*/
.loader_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--content_darker_bg_color);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_box h1 {
  color: var(--font_color);
  position: relative;
  padding: 0 4rem;
  z-index: 1;
}
.loader_box h1::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--code_elem_color);
  animation: LoaderAnim 3s linear infinite;
  z-index: -1;
  border-radius: 2.5rem;
}
@keyframes LoaderAnim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*==============================*/
/*==============================*/
/*=============NAV==============*/
/*==============================*/
/*==============================*/
nav {
  display: flex;
  padding: 1rem 6rem;
  position: absolute;
  width: 100%;
  flex-direction: column;
  height: 82px;
  transition: all 0.5s;
}
nav.active {
  height: 278px;
}
.start_box {
  position: relative;
}
.start_box img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: hue-rotate(155deg);
}
.start_box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, var(--bg_color) 100%);
}
.patern_box {
  background: -webkit-radial-gradient(
    center,
    ellipse,
    #ef0e39 0%,
    #000000 100%
  );
  background: radial-gradient(ellipse at center, #ef0e39 0%, #000000 100%);
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
nav ul li {
  padding: 0.25rem 0.25rem;
}
nav ul li:hover a {
  opacity: 0.5;
}
nav ul li a {
  opacity: 1;
  transition: all 0.3s;
  font-size: 1.5rem;
  color: var(--font_color);
  text-decoration: none;
}
nav ul li a span {
  color: var(--code_elem_color);
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
}
.site_header h1 {
  transition: all 0.3s;
}
.site_header h1:hover {
  transform: scale(1.05);
}
.site_header h1 {
  font-family: var(--main_font);
  color: var(--code_elem_color);
  font-size: 2.25rem;
  font-weight: 300;
  cursor: pointer;
}
.site_header h1 a {
  color: var(--font_color);
  text-decoration: none;
}
.menu_box {
  display: none;
  align-items: center;
  font-family: var(--main_font);
  color: var(--font_color);
  cursor: pointer;
}

.menu_box span {
  font-size: 18px;
  transition: all 0.6s;
}

.menu_box:hover span {
  font-size: 16px;
  margin-right: 0.5rem;
  color: var(--code_elem_color);
}
.closed_menu {
  opacity: 1;
  transform: scale(1);
}
.closed_menu.active {
  opacity: 0;
  transform: scale(0);
  width: 0;
}

.opened_menu {
  opacity: 1;
  transform: scale(1);
}
.opened_menu.active {
  width: 0;
  opacity: 0;
  transform: scale(0);
}

.menu_box img {
  color: var(--font_color);
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.site_navbar {
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-150%);
}
.site_navbar.active {
  transition: all 1s;
  opacity: 1;
  transform: translateY(0);
}
.site_navbar ul {
  display: flex;
  flex-direction: column;
}

/*=================================*/
/*=================================*/
/*=============FOOTER==============*/
/*=================================*/
/*=================================*/
footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem 0.25rem 6rem;
  transition: all 0.7s;
  position: relative;
  background-color: var(--content_bg_color);
}
.site_footer {
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: 0;
  left: 0;
  background: linear-gradient(to top, transparent, var(--bg_color) 100%);
}

.footer_content {
  padding: 2rem 4rem;
  padding-top: 0;
  width: 50%;
}
.footer_content ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  font-size: 1.25rem;
}
.footer_content ul li {
  transition: all 0.5s;
  cursor: pointer;
}
.footer_content ul li i {
  color: var(--code_elem_color);
  margin-right: 0.5rem;
  transition: all 0.5s;
}
.footer_content ul li a {
  color: var(--font_color);
  text-decoration: none;
  transition: all 0.5s;
}

.footer_content ul li:hover a,
.footer_content ul li:hover i {
  opacity: 0.5;
}
.footer_botom_text {
  margin-top: 4rem;
  font-size: 1rem;
}
.footer_botom_text p {
  color: rgba(120, 121, 122, 0.736);
}
@media (max-width: 1024px) {
  nav {
    padding: 1rem 2rem;
  }
  footer {
    padding: 2rem 2rem 0.25rem 2rem;
  }
  .footer_content {
    width: 100%;
  }
  .footer_content ul {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  .menu_box {
    display: flex;
  }
}
