<div *ngIf="!isLoaded" class="loader_box">
  <h1>zzz077</h1>
</div>

<div *ngIf="isLoaded" class="site-wrapper">
  <div id="start" class="patern_box start_box">
    <app-start></app-start>
  </div>
  <nav
    [class.navbarclicked]="isNavbarClicked && isScrolled"
    [class.active]="!isNavbarClicked && isScrolled"
  >
    <div class="site_header">
      <h1 class="site_logo"><<a href="">zzz077</a>></h1>
      <div class="menu_box">
        <span [ngClass]="isNavbarClicked ? 'active' : null" class="closed_menu"
          >Menu</span
        >
        <span [ngClass]="!isNavbarClicked ? 'active' : null" class="opened_menu"
          >Close</span
        >
        <img (click)="navbarClick()" src="/assets/menu1.png" alt="" />
      </div>
      <ul>
        <li>
          <a href="#start"><span><</span>Start</a>
        </li>
        <li>
          <a href="#about"><span><</span>About</a>
        </li>
        <li>
          <a href="#lab"><span><</span>Lab</a>
        </li>
        <li>
          <a href="#footer"><span><</span>Contact</a>
        </li>
      </ul>
    </div>
    <div [ngClass]="isNavbarClicked ? 'active' : null" class="site_navbar">
      <ul>
        <li>
          <a href="#start"><span><</span>Start</a>
        </li>
        <li>
          <a href="#about"><span><</span>About</a>
        </li>
        <li>
          <a href="#lab"><span><</span>Lab</a>
        </li>
        <li>
          <a href="#footer"><span><</span>Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <app-about id="about"></app-about>
    <app-lab id="lab"></app-lab>
  </main>
  <footer id="footer">
    <div class="site_footer">
      <h1 class="content_name"><a>Find me on</a>/></h1>
      <div class="footer_content">
        <ul>
          <li>
            <i class="fa-brands fa-github"></i
            ><a href="https://github.com/zzz-077">zzz-077</a>
          </li>
          <li>
            <i class="fa-brands fa-facebook"></i
            ><a href="https://www.facebook.com/vasiko.zardiashvili.5"
              >vaska.zardiashvili</a
            >
          </li>
          <li>
            <i class="fa-brands fa-linkedin"></i
            ><a href="https://www.linkedin.com/in/vaska-zardiashvili/"
              >vaska-zardiashvili</a
            >
          </li>
          <li>
            <i class="fa-brands fa-upwork"></i
            ><a
              href="https://www.upwork.com/freelancers/~01b1a5dd819691cef7?viewMode=1"
              >Vaska Z</a
            >
          </li>
        </ul>
      </div>
      <div class="footer_botom_text">
        <p>© Made with by < zzz077 >. 2024.</p>
      </div>
    </div>
  </footer>
</div>
