<div class="site-wrapper">
  <nav [ngClass]="isNavbarClicked ? 'active' : null">
    <div class="site_header">
      <h1><<a>zzz077</a>></h1>
      <div (click)="navbarClick()" class="menu_box">
        <span class="closed_menu" [ngClass]="isNavbarClicked ? 'active' : null"
          >Menu</span
        >

        <span class="opened_menu" [ngClass]="!isNavbarClicked ? 'active' : null"
          >Close</span
        >
        <img src="/assets/menu1.png" alt="" />
      </div>
    </div>
    <div [ngClass]="isNavbarClicked ? 'active' : null" class="site_navbar">
      <ul>
        <li>
          <a (click)="linksClick()" href="#main"><span><</span>About</a>
        </li>
        <li>
          <a (click)="linksClick()" href="#main"><span><</span>Lab</a>
        </li>
        <li>
          <a (click)="linksClick()" href="#footer"><span><</span>Contact me</a>
        </li>
      </ul>
    </div>
    <div *ngIf="isNavbarClicked" class="pattern_Background"></div>
  </nav>
  <main id="main">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla
      aspernatur asperiores cumque repellendus voluptatibus adipisci non, fugit
      sapiente corporis officiis accusamus repudiandae consequuntur quisquam,
      iure nostrum vitae voluptatem quod!
    </p>
  </main>
  <footer id="footer">
    <div class="site_footer">
      <h1><<a>Find me on</a>></h1>
      <div class="footer_content">
        <ul>
          <li>
            <i class="fa-brands fa-github"></i
            ><a href="https://github.com/zzz-077">zzz-077</a>
          </li>
          <li>
            <i class="fa-brands fa-facebook"></i
            ><a href="https://www.facebook.com/vasiko.zardiashvili.5"
              >vasiko.zardiashvili.5</a
            >
          </li>
          <li>
            <i class="fa-brands fa-linkedin"></i
            ><a href="https://www.linkedin.com/in/vaska-zardiashvili/"
              >vaska-zardiashvili</a
            >
          </li>
          <li>
            <i class="fa-brands fa-upwork"></i
            ><a
              href="https://www.upwork.com/freelancers/~01b1a5dd819691cef7?viewMode=1"
              >Vaska Z</a
            >
          </li>
        </ul>
      </div>
      <div class="footer_botom_text">
        <p>© Made with by < zzz077 >. 2024.</p>
      </div>
    </div>
  </footer>
</div>
