<div class="about_content">
  <h1><a>About</a>/></h1>
  <div class="code_box">
    <div class="code_rows">
      <span class="brackets">{{ "{" }}</span>
    </div>
    <div class="code_rows">
      <span class="module">"name": </span>
      <span class="object">"Vaska Zardiashvili",</span>
    </div>
    <div class="code_rows">
      <span class="module">"nickname":</span>
      <span class="object">"zzz077",</span>
    </div>
    <div class="code_rows">
      <span class="module">"dayOfBirthTimestamp":</span>
      <span class="object number">1091599200,</span>
    </div>
    <div class="code_rows">
      <span class="module">"email":</span>
      <span class="object">"zardiashvili2004{{ "@gmail" }}.com",</span>
    </div>
    <div class="code_rows">
      <span class="module">"workExperience":</span>
      <span class="bracketsPurple">
        {{ "[" }}
        <span class="bracketsBlue">
          {{ "{" }}
          <span class="module" style="margin-right: 1rem">"none":</span>
          <span class="object">"Not yet"</span>
          {{ "}" }}
        </span>
        {{ "]" }}
      </span>
    </div>
    <div class="code_rows">
      <span class="module">"education":</span>
      <span class="bracketsPurple">
        {{ "[" }}
      </span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="bracketsBlue">
        {{ "{" }}
      </span>
    </div>
    <div class="code_rows">
      <span class="module" style="margin-left: 2.4rem">"2022-now":</span>
      <span class="object"
        >"International Black Sea University computer science, second
        course.",</span
      >
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="bracketsBlue">
        {{ "}," }}
      </span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="bracketsBlue">
        {{ "{" }}
      </span>
      <span class="module">"2021-2022":</span>
      <span class="object"
        >"Evo-gen Front-End Development 3-month course.",</span
      >
      <span class="bracketsBlue">
        {{ "}," }}
      </span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="bracketsBlue">
        {{ "{" }}
      </span>
      <span class="module">"2022-now":</span>
      <span class="object">"c++ olympiad group.",</span>
      <span class="bracketsBlue">
        {{ "}" }}
      </span>
    </div>
    <div class="code_rows">
      <span class="bracketsPurple">
        {{ "]," }}
      </span>
    </div>
    <div class="code_rows">
      <span class="module"> "skills":</span>
      <span class="bracketsPurple">
        {{ "[" }}
      </span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "HTML/CSS/JS",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "Angular",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "Rest API",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "JSON",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "TypeScript",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "Firebase",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "PHP",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "UX/UI",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "c++",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "Algorithms",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object"> "Blender",</span>
    </div>
    <div class="code_rows">
      <span style="margin-left: 1rem" class="object">
        "Unreal Engine 4-5",</span
      >
    </div>
    <div class="code_rows">
      <span class="bracketsPurple">{{ "]" }}</span>
    </div>
    <div class="code_rows">
      <span class="brackets">{{ "}" }}</span>
    </div>
  </div>
</div>
