<div class="lab_content">
  <h1 class="content_name"><a>Lab</a>/></h1>
  <div class="lab_box">
    <div class="lab_links_container">
      <ul>
        <h1>Sites</h1>
        <div class="lab_links">
          <li
            *ngFor="let item of portfolioData[0].sites"
            (mouseenter)="linkMouseEnter(item.id)"
            (mouseleave)="linkMouseLeave()"
          >
            <a [href]="item.href">{{ item.name }}</a>
            <img [src]="item.icon" alt="" />
          </li>
        </div>
      </ul>
      <ul>
        <h1>Games</h1>
        <div class="lab_links">
          <li
            *ngFor="let item of portfolioData[0].games"
            (mouseenter)="linkMouseEnter(item.id)"
            (mouseleave)="linkMouseLeave()"
          >
            <a [href]="item.href">{{ item.name }}</a>
            <img [src]="item.icon" alt="" />
          </li>
        </div>
      </ul>
    </div>
    <div class="display_box">
      <div
        class="display_list"
        *ngFor="
          let item of portfolioData[0].sites.concat(portfolioData[0].games)
        "
      >
        <div
          class="content"
          *ngIf="item.id == linkId"
          [ngClass]="item.id == linkId ? 'active' : null"
        >
          <img [src]="item.img" alt="" />
          <div class="site_description">
            <span>"Description":</span>
            <p>{{ item.description }}</p>
          </div>
          <div class="site_responsive">
            <span>"Responsive": </span>
            <p>{{ item.responsive }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
